
@import 'compass-breakpoint/stylesheets/breakpoint';
@import 'compass-mixins/lib/compass';
@import 'susy/sass/susy';

@import 'functions';
@import 'mixins';
@import 'variables';

body {
    h1 {
        &:before {
            content: 'gulplate ';
        }
    }<% if (((projectType === 'module') && addDocumentation && featureModernizr) || ((projectType === 'website') && featureModernizr)) { %>

    // modernizr example
    html.csstransforms & {
        &:after {
            content: 'supports csstransform';
            color: #0f0;
        }
    }

    html.no-csstransforms & {
        &:after {
            content: 'does not support csstransform';
            color: #f00;
        }
    }<% } %>
}
