<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= projectName %> Tests</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="libs/jasmine.css" media="all">
        <script src="libs/jasmine.js"></script>
        <script src="libs/jasmine-html.js"></script>
        <script src="libs/boot.js"></script>
        <script src="libs/jasmine-matchers.js"></script>
    </head>
    <body>
        <script src="spec-debug/bundle.js"></script>
    </body>
</html>